In [1]:
x = False

if x:
    print('x is true')
else:
    print('wrong window')

wrong window

In [2]:
name = 'kriti'

if name == 'shaa':
    print('hey shaa!')
elif name == 'kriti':
    print(f'hey {name}!')
else:
    print('whats your name?')

hey kriti!

In [3]:
list1 = [1,2,6,7,'k','s',3]

for num in list1:
    print(num)

1
2
6
7
k
s
3

In [4]:
even = [1,2,3,4,56,78,54,100]

for num in even:
    if num % 2 == 0:
        print(f'This number is even: {num}')
    else:
        print(f'Odd number: {num}')

Odd number: 1
This number is even: 2
Odd number: 3
This number is even: 4
This number is even: 56
This number is even: 78
This number is even: 54
This number is even: 100

In [8]:
list2 = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for num in list2:
    list_sum += num
    
print(list_sum)

55

In [9]:
for letter in 'Hey! Kriti.':
    print(letter)

H
e
y
!

K
r
i
t
i
.

In [10]:
tup = (2,'k',5,'lo')

for num in tup:
    print(num)

2
k
5
lo

In [11]:
list2 = [(2,4),(6,'kitty'),(10,12)]

for num in list2:
    print(num)

(2, 4)
(6, 'kitty')
(10, 12)

In [12]:
for (c1,c2) in list2:
    print(c2)

4
kitty
12

In [14]:
list3 = [(2,4),(6,3),(10,12)]
for (c1,c2) in list3:
    print(c1+c2)

6
9
22

In [15]:
d = {'k1':1,'k2':2,'k3':3}
for values in d:
    print(values)

k1
k2
k3

In [16]:
d = {'k1':1,'k2':2,'k3':3}
for values in d.items():
    print(values)

('k1', 1)
('k2', 2)
('k3', 3)

In [17]:
d = {'k1':1,'k2':2,'k3':3}
for (k,v) in d.items():
    print(v)

1
2
3

In [18]:
list(d.items())

[('k1', 1), ('k2', 2), ('k3', 3)]

In [19]:
list(d.keys())

['k1', 'k2', 'k3']

In [20]:
sorted(d.values())

[1, 2, 3]

In [21]:
sorted(d.values()).reverse

In [26]:
x = 0

while x < 5:
    print(f'x is currently at: {x}')
    print(f' x is lesser than 5 so adding one to it')
    x += 1

else:
    print('Áll done!')

x is currently at: 0
 x is lesser than 5 so adding one to it
x is currently at: 1
 x is lesser than 5 so adding one to it
x is currently at: 2
 x is lesser than 5 so adding one to it
x is currently at: 3
 x is lesser than 5 so adding one to it
x is currently at: 4
 x is lesser than 5 so adding one to it
Áll done!

In [27]:
x = 0

while x < 5:
    print(f'x is currently at: {x}')
    print(f' x is lesser than 5 so adding one to it')
    x += 1
    if x == 2:
        print('Breaking it as x equals 2')
        break

x is currently at: 0
 x is lesser than 5 so adding one to it
x is currently at: 1
 x is lesser than 5 so adding one to it
Breaking it as x equals 2

In [28]:
x = 0

while x < 5:
    print(f'x is currently at: {x}')
    print(f' x is lesser than 5 so adding one to it')
    x += 1
    if x == 2:
        print('x equals 2')
    else:
        print('continuing')
        continue

x is currently at: 0
 x is lesser than 5 so adding one to it
continuing
x is currently at: 1
 x is lesser than 5 so adding one to it
x equals 2
x is currently at: 2
 x is lesser than 5 so adding one to it
continuing
x is currently at: 3
 x is lesser than 5 so adding one to it
continuing
x is currently at: 4
 x is lesser than 5 so adding one to it
continuing

In [29]:
x = 0

while x < 5:
    print(f'x is currently at: {x}')
    print(f' x is lesser than 5 so adding one to it')
    x += 1
    if x == 2:
        print('x equals 2')
        break
    else:
        print('continuing')
        continue

x is currently at: 0
 x is lesser than 5 so adding one to it
continuing
x is currently at: 1
 x is lesser than 5 so adding one to it
x equals 2

In [30]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [31]:
list(range(0,101,5))

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [34]:
for i,letter in enumerate('Sarawgi'):
    print(f'Letter {letter} is at index: {i}')

Letter S is at index: 0
Letter a is at index: 1
Letter r is at index: 2
Letter a is at index: 3
Letter w is at index: 4
Letter g is at index: 5
Letter i is at index: 6

In [35]:
list1 = ['k','r','i']
list2 = [99,18,'May']

In [37]:
list(zip(list1,list2))

[('k', 99), ('r', 18), ('i', 'May')]

In [38]:
for k,v in zip(list1,list2):
    print(f'Letter {k} is at index: {v}')

Letter k is at index: 99
Letter r is at index: 18
Letter i is at index: May

In [39]:
'i' in ['k','r','i']

True

In [40]:
'i' in list1

True

In [41]:
1 in list1

False

In [43]:
'iSara' not in list1

True

In [44]:
'i' not in list1

False

In [46]:
list3 = [99,18,32]
min(list3)

18

In [47]:
max(list3)

99

In [48]:
from random import shuffle

In [49]:
shuffle(list3)

In [51]:
list3

[18, 32, 99]

In [52]:
shuffle(list3)

In [53]:
list3

[18, 99, 32]

In [54]:
from random import randint

In [55]:
randint(18,99)

67

In [56]:
randint(18,99)

34

In [57]:
input('Enter your name: ')

Enter your name: Kriti

'Kriti'

In [59]:
input('Enter your age please - ')

Enter your age please - 23

'23'

In [60]:
lst = [x for x in 'KRITI']

In [62]:
lst

['K', 'R', 'I', 'T', 'I']

In [65]:
square = [x**2 for x in range(0,11)]

In [66]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
even = [x for x in range(0,11) if x % 2 == 0]

In [68]:
even

[0, 2, 4, 6, 8, 10]

In [69]:
odd = [x for x in range(0,11) if x % 2 != 0]

In [70]:
odd

[1, 3, 5, 7, 9]

In [71]:
celsius = [0,10,20.1,34.5]

farhenheit = [((9/5)*temp + 32) for temp in celsius ]

In [72]:
farhenheit

[32.0, 50.0, 68.18, 94.1]

In [73]:
lst = [x*10 for x in [x**2 for x in range(0,11)]]

In [74]:
lst

[0, 10, 40, 90, 160, 250, 360, 490, 640, 810, 1000]

Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [76]:
st = 'Print only the words that start with s in this sentence'

for i in st.split():
    if i[0] == 's':
        print(i)

start
s
sentence

Use range() to print all the even numbers from 0 to 10.

In [77]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [78]:
lst = [x for x in range(1,51) if x % 3 == 0]

In [79]:
lst

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

Go through the string below and if the length of a word is even print "even!"

In [86]:
st = 'Print every word in this sentence that has an even number of letters'

for i in st.split():
    if len(i) % 2 == 0:
        print(f'len of {i} is even')

len of word is even
len of in is even
len of this is even
len of sentence is even
len of that is even
len of an is even
len of even is even
len of number is even
len of of is even

Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".}

In [90]:
x = 1

while x < 101:
    if (x % 3 == 0) and (x % 5 == 0):
        print('FizzBuzz')
    elif (x % 3 == 0):
        print('Fizz')
    elif (x % 5 == 0):
        print('Buzz')
    else:
        print(x)
    x += 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Use List Comprehension to create a list of the first letters of every word in the string below:

In [95]:
st = 'Create a list of the first letters of every word in this string'
for i in st.split():
    print(i[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

In [98]:
lst = [x[0] for x in st.split()]
lst

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']