1.Let us say your expense for every month are listed below,

 January - 2200
 February - 2350
 March - 2600
 April - 2130
 May - 2190
 
 Create a list to store these monthly expenses and using that find out

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [1]:
monthly_expenses = [2200,2350,2600,2130,2190]

In [4]:
jan_feb_difference = monthly_expenses[1] - monthly_expenses[0]
jan_feb_difference

150

In [18]:
quarter_expense = monthly_expenses[1] + monthly_expenses[0]+ monthly_expenses[2]

In [20]:
quarter_expense

7150

In [30]:
for i in monthly_expenses:
    if i==2000:
        print(True)
    else:
        print(False)

False
False
False
False
False

In [31]:
monthly_expenses.append(1980)

In [40]:
monthly_expenses.pop(4)

2130

In [34]:
monthly_expenses.pop()

1930

In [41]:
monthly_expenses

[2200, 2350, 2600, 1930, 2190, 1980]

2.You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [42]:
heros=['spider man','thor','hulk','iron man','captain america']

In [43]:
len(heros)

5

In [47]:
heros.append("black panther")

In [48]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [49]:
heros.insert(3,heros.pop())

In [59]:
heros=['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [69]:
heros

['spider man',
 'doctor strange',
 'doctor strange',
 'iron man',
 'captain america']

In [60]:
heros.pop(1)

'thor'

In [61]:
heros.pop(2)

'black panther'

In [66]:
heros.insert(2,"doctor strange")

In [72]:
heros.sort()

In [73]:
heros

['captain america',
 'doctor strange',
 'doctor strange',
 'iron man',
 'spider man']

3.Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [94]:
max_num = int(input("enter the max number: "))
lst = []
for i in range(1,max_num+1):
    if i%2!=0:
        lst.append(i)
print(lst)

enter the max number: 9
[1, 3, 5, 7, 9]

In [98]:
def twoNumberSum(array,targetSum):
    lst = []
    for i in range(len(array)):
        for j in range(i+1,len(array)):
            if array[i]+array[j]==targetSum:
                lst.append(array[i])
                lst.append(array[j])
    return lst

In [99]:
array = [3,5,-4,8,11,1,-1,6]
targetSum = 10
twoNumberSum(array,targetSum)

[11, -1]

In [198]:
array = [3,5,-4,8,11,1,-1,6,5]
targetSum = 10

In [183]:
def isValidSubsequence(array,sequence):
    lst = []
    for i in range(len(sequence)):
        if sequence[i] in array:
                lst.append(sequence[i])
    print(sorted(lst))
    print(sorted(sequence))
    return sorted(lst) == sorted(sequence)

In [184]:
array = [1, 1, 1, 1, 1]
sequence = [1, 1, 1]

In [185]:
isValidSubsequence(array,sequence)

[1]
[1, 1, 1]

False

In [191]:
def isValidSubsequence(array,sequence):
    lst = []
    for i in range(len(sequence)):
        if sequence[i] in array:
            if sequence[i] not in lst:
                lst.append(sequence[i])
    for i in lst:

In [215]:
array = [5, 1, 22, 25, -1, 8,6, 10]
sequence = [1, 6, 10]
isValidSubsequence(array,sequence)

False

In [205]:
def isValidSubsequence(array,sequence):
    arrIdx = 0
    seqIdx = 0
    while arrIdx < len(array) and seqIdx < len(sequence):
        if array[arrIdx] == sequence[seqIdx]:
            print(array[arrIdx])
            print(sequence[seqIdx])
            seqIdx += 1
        arrIdx += 1
    return seqIdx == len(sequence)

In [214]:
def isValidSubsequence(array, sequence):
    seqIdx = 0
    for value in array:
        if seqIdx==len(array):
            break
        if sequence[seqIdx] == value:
            seqIdx+=1
        return seqIdx==len(sequence)

In [216]:
array = [5, 1, 22, 25, -1, 8,6, 10]

In [220]:
array= sorted(array)

In [224]:
array

[-1, 1, 5, 6, 8, 10, 22, 25]

In [229]:
def sortedSquaredArray(array):
    lst = []
    for value in array:
        temp = value**2
        lst.append(temp)
    return sorted(lst)

In [230]:
array = [-2, -1]
sortedSquaredArray(array)

[1, 4]

In [241]:
def isValidSubsequence(array, sequence):
    # Write your code here.
    arrIdx = 0
    seqIdx = 0
    while arrIdx < len(array) and seqIdx < len(sequence):
        if array[arrIdx] == sequence[seqIdx]:
            seqIdx += 1
        arrIdx += 1
    return seqIdx == len(sequence)

In [243]:
array= [5, 1, 22, 25, 6, -1, 8, 10],
sequence= [1, 6, -1, 5]
isValidSubsequence(array, sequence)

False

In [244]:
array=[5, 1, 22, 25, 6, -1, 8, 10],
sequence=[4, 5, 1, 22, 25, 6, -1, 8, 10]
isValidSubsequence(array, sequence)

False

In [251]:
def sortedSquaredArray(array):
    # Write your code here.
    lst = []
    for value in array:
        temp = value**2
        lst.append(temp)
    return sorted(lst)

In [252]:
array = [1, 2, 3, 5, 6, 8, 9]
sortedSquaredArray(array)

[1, 4, 9, 25, 36, 64, 81]

In [247]:
sorted_squares = [0 for _ in array]

In [248]:
sorted_squares

[0, 0, 0, 0, 0, 0, 0]